@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");





#write-post {
    /* background-color: #D2DAFF; */
    background-image: url("../background/notepad.jpg");
    background-position-y: 50%;
    background-size: cover;
    border-radius: 10px;
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.5s;
    color: black;
}



img {
    border-radius: 30px;
}

h2{
    
    text-align: center;
    font-family: 'Questrial';
}

section#title {
    height: 5em;
    /* padding: 10px; */
}

section#post-gif {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
}

section#post {
    height: 7em;
    padding: 10px;
}

textarea {
    width: 770px;
    height: 70px;
}

label {
    font-family: 'Poppins';
}

button#exit-button {
    padding: 6px;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

button#exit-button:hover {
    color: red;
}
.masthead-brand {
    float: left;
    color: white;
    padding: 0 16px 8px !important;
}

.nav-masthead {
    float: right;
    background-color: #536162;
    border-radius: 0.375rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.nav-link {
    color: white !important;
    font-family: 'Manrope';
}

.nav-link:hover {
    color: #C06014 !important;
}

#post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

textarea {
    resize: none;
    width: 650px;
    border: none;
    padding-left: 5px;
}

#titleinput {
    width: 350px;
    height: 25px;
    border: none;
    padding-left: 5px;
}

#search {
    width: 350px;
    height: 25px;
    border: none;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: -15px;
}

#gifbtns {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    margin: auto;
    max-width: 50%;
}

#gifbtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#btn-gif {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: #536162;
    color: white;
    margin: 0 15px;
}

#btn-remove {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    background-color: #536162;
    color: white;
    margin: 0 15px;
}

#results {
    margin-top: 10px;
}

#result {
    margin-top: 10px;
}

#sendInForm {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 25px;
    width: 100px;
    background-color: #536162;
    color: white;
    border: none;
    border-radius: 5px;
}

#postinput {
    text-align: center;
}
