@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    text-align: center !important;
    background-image: url("https://wallpaperaccess.com/full/93239.jpg");
    background-size: cover;
}

.cover-container {
    max-width: 42em;
}

header {
    margin-bottom: 280px;
}

div {
    display: block;
    
}

main {
    margin-top: 15em;
    background: transparent;
    border-radius: 30px;
}

.masthead-brand {
    float: left;
    color: white;
}

.nav-masthead {
    float: right;
    background-color: #536162;
    border-radius: 0.375rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.nav-link {
    color: white !important;
    font-family: 'Manrope';
}

.nav-link:hover {
    color: #C06014 !important;
}

h3 {
    margin-bottom: 20em;
}

h1 {
    display: block;
    color: black;
    margin-top: 10px;
    font-family: 'Manrope';
}

p {
    font-family: 'Questrial', sans-serif;
    color: black;
}

.btn {
    background-color: #C06014 !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    transition: 0.5s !important;
    
}

.btn:hover {
    background-color: #536162 !important;
    transform: scale(1.1) !important;
    transition: 0.5s !important;

}
