@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    text-align: center !important;
    background-image: url("https://wallpapercave.com/wp/wp7359868.jpg");
    background-size: cover;
    
}

.cover-container {
    max-width: 42em;
}

header {
    margin-bottom: 280px;
}

div {
    display: block;
    
}

main {
    margin-top: 15em;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}



h3 {
    margin-bottom: 20em;
}


h1 {
    display: block;
    color: black;
    margin-top: 10px;
}


p {
    font-family: 'Questrial', sans-serif;
    color: black;
}
