@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#write-post {
    background-color: #D2DAFF;
    border: 2px solid ;
    border-radius: 10px;
    width: 60%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.5s;
    
}

h2{
    text-align:center;
    font-family: 'Questrial';
}

section#heading {
    height: 5em;
    padding: 10px;
}

section#post {
    height: 7em;
    padding: 10px;
}

textarea {
    width: 770px;
    height: 70px;
}

label {
    font-family: 'Poppins';
}

button {
    padding: 6px;
}
