@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    text-align: center !important;
    
}

.cover-container {
    max-width: 42em;
}

header {
    margin-bottom: 280px;
}

div {
    display: block;
    
}

main {
    margin-top: 15em;
}

h3 {
    margin-bottom: 20em;
}


h1 {
    display: block;
    color: white;
}


p {
    font-family: 'Questrial', sans-serif;
    color: white;
}
